<section id="auth-section" class="card">
    <div class="section-header">
        <div>
            <h2 class="play-mode-title">Auth Token</h2>
            <h2 class="info-mode-title" style="display: none;">How to retrieve a token</h2>
        </div>
        <img
                src="/assets/images/icon-question.png"
                alt="mode switch"
                class="mode-switch-icon"
        />
    </div>
    <div class="play-mode slide-toggle open">
        <div id="auth-token-display">
            <% if (token) { %>
                <div class="token-container">
                    <label for="currentToken">Current token:</label>
                    <textarea id="currentToken" rows="3" readonly><%= token %></textarea>
                </div>
                <button id="getAuthTokenBtn" class="btn btn-primary">Get Auth Token</button>
                <button id="copyAuthTokenBtn" class="btn btn-secondary">Copy Token</button>
                <div id="auth-status"></div>
            <% } else { %>
                <p>No token set. Please get an auth token before using the app.</p>
                <button id="getAuthTokenBtn" class="btn btn-primary">Get Auth Token</button>
                <button id="copyAuthTokenBtn" class="btn btn-secondary" disabled>Copy Token</button>
                <div id="auth-status"></div>
            <% } %>
        </div>
    </div>
    <div class="info-mode slide-toggle">
        <div class="info-mode-title" style="display: none;">
            <h2>How to retrieve a token</h2>
        </div>
        <p>Basically, a token is a string that allows you to access the Overledger API. It's like a key that you need to have in order to open the door to the API.</p>
        <p>This key is unique to you and your application, so don't share it with anyone else. If you think someone else has your key, you can always generate a new one.</p>
        <p>Overledger uses OAuth 2.0. To retrieve a token, you make a <strong class="info-method method-post">POST</strong> request to:</p>
        <pre class="info-code">https://auth.overledger.dev/oauth2/token</pre>
        <p>Include your Overledger API Key and Secret in the Authorization header, using Basic Auth.</p>
        <p>This means you need to encode your API Key and Secret in Base64, and include them in the header like this:</p>
        <pre class="info-code">Authorization: Basic BASE64(API_KEY:API_SECRET)</pre>
        <p>The body should
            include:</p>
        <pre class="info-code">grant_type=client_credentials</pre>
        <p>Overledger responds with a JSON object containing your access token. Use <code>Bearer TOKEN</code> for
            subsequent requests.</p>
        <p>For example:</p>
        <pre class="info-code">Authorization: Bearer YOUR_TOKEN</pre>
    </div>
</section>
