<section id="console-section" class="card">
    <div class="section-header">
        <div>
            <h2 class="play-mode-title">Console</h2>
            <h2 class="info-mode-title" style="display: none;">Debugging logs</h2>
        </div>
        <img
                src="/assets/images/icon-question.png"
                alt="mode switch"
                class="mode-switch-icon"
        />
    </div>
    <div class="play-mode slide-toggle open">
        <div id="consologger" class="consologger">
            <button id="clearConsoleBtn" class="btn-clear-console">Clear</button>
        </div>
    </div>
    <div class="info-mode slide-toggle">
        <div class="info-mode-title" style="display: none;">
            <h2>Debugging logs</h2>
        </div>
        <p>All Overledger requests and responses appear here for debugging.</p>
    </div>
</section>
