<footer>
    <div class="footer-content">
        <p>Blockchain Todo App using Overledger API and Ethereum</p>
        <div class="social-icons">
            <a href="https://github.com/will7ech" target="_blank">
                <img src="/assets/images/icon-github.png" alt="GitHub"/>
            </a>
            <a href="https://www.linkedin.com/in/will7ech/" target="_blank">
                <img src="/assets/images/icon-linkedin.png" alt="LinkedIn"/>
            </a>
            <a href="https://www.reddit.com/user/Will7ech/" target="_blank">
                <img src="/assets/images/icon-reddit.png" alt="Reddit"/>
            </a>
            <a href="https://will7ech.com" target="_blank">
                <img src="/assets/images/icon-pizza.png" alt="Website"/>
            </a>
        </div>
    </div>
</footer>
</div> <!-- end container -->

<script src="/assets/js/general.js"></script>
</body>
</html>
