<footer>
    <div class="footer-content">
        <p>Made with passion by <i>Will7ech</i></p>
        <div class="social-icons">
            <a href="https://github.com/will7ech" target="_blank">
                <img src="/assets/images/icon-github.png" alt="GitHub"/>
            </a>
            <a href="https://www.linkedin.com/in/will7ech/" target="_blank">
                <img src="/assets/images/icon-linkedin.png" alt="LinkedIn"/>
            </a>
            <a href="https://www.reddit.com/user/Will7ech/" target="_blank">
                <img src="/assets/images/icon-reddit.png" alt="Reddit"/>
            </a>
            <a href="https://will7ech.com" target="_blank">
                <img src="/assets/images/icon-pizza.png" alt="Website"/>
            </a>
        </div>
    </div>
</footer>
</div> <!-- end container -->

<script src="/assets/js/state.js"></script>
<script src="/assets/js/logger.js"></script>
<script src="/assets/js/ui.js"></script>
<script src="/assets/js/auth.js"></script>
<script src="/assets/js/balance.js"></script>

<!-- Make sure todo.js is loaded next -->
<script src="/assets/js/todo.js"></script>

<script src="/assets/js/deploy.js"></script>
<script src="/assets/js/transactions.js"></script>

<!-- Finally load app.js or anything else referencing fetchTodos -->
<script src="/assets/js/app.js"></script>


</body>
</html>
