<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Overledgy | Overledger Demo App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Quantico:wght@700&family=Roboto&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/styles.css"/>
    <link rel="icon" type="image/png" href="/assets/images/pic-pizza.png"/>
</head>
<body>
<div class="container">
    <header>
        <h1>OVERLEDGY</h1>
        <h2>Overledger API Demo App</h2>
        <p>Use this simple example to see how Overledger works and experiment on your own!</p>
    </header>
